.card_content {
    display: flex;
    flex-direction: column;
    width: 255px;
    text-align: center;
    color: var(--letter-color);
}
.card_content img {
    max-width: 100%;
    object-fit: cover;
}
.card_content h3{
    margin-top: 32px;
    margin-bottom: 12px;
}
.card_content h3 a{
    font-size: 18px;
    line-height: 21px;
    color: var(--letter-color);
}
.card_content p{
    max-width: 100%;
    font-size: 15px;
    line-height: 18px;
}
.title {
    transition: all .3s;
}
.title:hover {
    color: var(--blue-color-strong);
}