.container_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}
.container{
    display: none;
}
.search{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #7D7D7D;
    border-radius: 10px;
    padding: 0 16px;
}
.search input {
    margin-left: 7px;
    background: none;
}

@media screen and (max-width: 768px){
    .container {
        display: block;
    }
}
@media screen and (min-width: 768px){
    .container_box {
        display: none;
    }
}