.container {
    width: 100%;
    height: 64px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 8px 0px #ccc;
    background: #fff;
}
.container_nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;

}
.logo {
    width: 150px;
}

.search_container{
    width: 314px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #7D7D7D;
    border-radius: 10px;
    padding: 0 16px;
}
.search_container input {
    margin-left: 7px;
    background: none;
}
.list_menu{
    display: flex;
    align-items: center;
}
.list_menu_icon{
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu_icon {
    padding: 0 2px;
}
.menu_icon a{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
}
.menu_icon a svg {
    width: 20px;
}
.bell_container{
    display: flex;
    cursor: pointer;
}

.active {
    color: var(--blue-color);
    text-decoration: underline;
}
.list_menu_mobile {
    display: none;
}
.list_menu_mobile button svg{
    width: 30px;
    height: 30px;
}

@media (max-width: 767px){
    .container {
        gap: 15px;
        overflow: hidden;
    }
    .logo {
        width: 100px;
    }
    .menu_icon a svg {
        width: 1em;
    }
    .menu_icon a p {
        display: none;
    }
    .search_container {
        display: none;
    }
    .bell_container{
        display: none;
    }
}
@media (min-width: 767px) and (max-width: 950px) {
    .menu_icon a p {
        display: none;
    }
    .bell_container svg{
        width: 12px;
    }
    .list_menu_icon{
        gap: 10px;
    }
}
@media (min-width: 1052px) {
    .container {
        justify-content: space-around;
    }
    .bell_container svg {
        width: 20px;
    }
}